/**
 * There was a late-stage request that necessitates this file
 */
.combo-area-top{
	margin: 0;
	padding: 15px 90px 0 !important;
	@include mq($until: md){
		padding-left: 35px !important;
		padding-right: 35px !important;
	}
}
.combo-area-middle{
	padding: 0 90px !important;
	@include mq($until: md){
		padding-left: 35px !important;
		padding-right: 35px !important;
	}
	&.pt20px{
		padding-top: 20px !important;
	}
}
.combo-area-bottom{
	padding: 15px 115px !important;
	@include mq($until: md){
		padding-left: 35px !important;
		padding-right: 35px !important;
	}
}
.surveillance-accent-bg{
	background: rgba($gray, .2);
}