
@font-face {
    font-family:"Avenir Medium";
    src:url("Avenir-Medium.woff2") format("woff2"),url("Avenir-Medium.woff") format("woff"),url("Avenir-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        